@using ChessResult.Web.Resource
@model ChessResult.Web.Models.TournamentViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container container-form">
    <h4 class="title-form"><a href="@Url.Action("TournamentManager", "Tournament")"><span class="fas fa-arrow-left"></span></a>@TournamentResx.AddTournament</h4>
    @using (Html.BeginForm())
    {
        <div class="container">
            <form>
                <div class="form-groups">
                    @Html.LabelFor(model => model.Name)
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.StartDate)
                        @Html.TextBoxFor(model => model.StartDate,  new { @class = "form-control", id ="startdate-picker" })
                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.EndDate)
                        @Html.TextBoxFor(model => model.EndDate,  new { @class = "form-control", id ="enddate-picker" })
                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Federation)
                        @Html.DropDownListFor(x => x.FederationID, new SelectList(ViewBag.Federations, "ID", "Name"), new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Organizer)
                        @Html.EditorFor(model => model.Organizer, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Director)
                        @Html.EditorFor(model => model.Director, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Location)
                    @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Description)
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ParentTourID)
                    @Html.DropDownListFor(x => x.ParentTourID, new SelectList(ViewBag.Tournaments, "ID", "Name"), "None", new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    }
</div>